$primary-font: 'Trebuchet MS';

$red: rgb(200,56,51);
$orange: rgb(255,86,28);
$yellow: rgb(238, 196, 45);
$green: rgb(69,171,45);
$teal: rgb(10,102,110);
//$purple: rgb(57,54,138);
$purple: rgb(79,73,244);
$pink: rgb(204,98,171);
$white: rgb(209,204,172);
$gray: rgb(204,204,204);
$dark-gray: rgb(39,39,39);
$near-black: rgb(6,19,20);
$black: rgb(0,0,0);

* {
	box-sizing: border-box;
}

html,body {
	height: 100%;
}
 
body {
	margin: 0;
	background-color: rgb(22, 40, 42);
	color: $white;
	font-family: $primary-font;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	font-weight: normal;
}

ul,li {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

.game-wrapper {
	min-height: 100%;
	max-width: 650px;
	margin: 0 auto;
	padding: 24px 27px;
	border: 16px double #182223;
	background: url(../assets/backtex.png);
} 

.action-element {
	cursor: pointer;
	&.game-peg:hover {
		opacity: 0.87;
	} 
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.button {
	border: none;
	outline: none;
	background-color: $teal;
	color: $white;
	padding: 8px;
	width: 100%;
	font-size: 16px;
	letter-spacing: 0.04em;
	cursor: pointer;
	&:hover {
		opacity: 0.8;
	}
}

h1 {
	font-size: 3.5em;
	text-transform: uppercase;
	opacity: 0.8;
	color: $teal;
	text-shadow: 1px 1px 7px darken($teal, 5%);
}

.game-header {
	margin-bottom: 25px;
}

.board-wrapper {

}

.board {
	position: relative;
}

.progress-indicator {
	position: absolute;
	line-height: 38px;
	left: -27px;
	transition: top ease-out 400ms;
	transform: rotateY(180deg);
}

.rows {
	width: 50%;
}

.row-wrapper {
	padding-bottom: 10px;
	display: flex;
	align-items: center;
	ul {
		display: flex;
	}
}

.row {
	background-color: red;
	border-top: 1px solid black; 
}

$peg-colors: ('empty': rgba($gray,0.07),
			'red': $red,
			'orange': $orange,
			'yellow': $yellow,
			'green': $green,
			'teal': $teal,  
			'purple': $purple,
			'pink': $pink,
			'white': $white,
			'black': $black); 

.game-pegs {
	margin-right: 16px;
}
 
.game-peg {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 20px;
	background-color: red;
	box-shadow: 0 0 4px 2px rgb(75,69,69);
	opacity: 0.8;
	font-size: 0em;
	vertical-align: top;
	text-indent: -999em;
	margin: 4px 6px;
}

.result-pegs {
	max-width: 36px;
	flex-flow: wrap;
	margin-left: auto;
}

.result-peg {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: $gray;
	margin-right: 5px;
	margin-bottom: 6px;	
	font-size: 0em;
	float: left;
	box-shadow: 0 0 1px 1px #4b4545;
	&:nth-of-type(2n+1) {
		clear: both;
	}
	&:nth-of-type(n + 2) {
		margin-bottom: 0;
	}
}

@each $color, $value in $peg-colors {
	.peg-#{$color} {
		background-color: $value;
	}
} 

.peg-selector {
	margin: 40px 0;
}

.game-modal {
	position:fixed;
	padding: 20px 32px;
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: $near-black;
	border: 5px solid $teal;
	box-shadow: 0 0 6px 1px $teal;
}

.haze {
	position: fixed;
	width: 100%;
	background-color: $near-black;
	top: 0;
	bottom: 0;
	left: 0;
	opacity: 0.5;
}

.code-reveal {
	margin: 12px 0 26px;
	text-align: center;
}